[Unit]
Description=Awesome Window Manager

[Service]
ExecStart=/usr/bin/awesome
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=3

[Install]
WantedBy=wm.target
