[Unit]
Description=Bluetooth connection notification service
Requires=dbus.service
Requires=bluetooth.target
After=bluetooth.target
After=dbus.service

[Service]
Type=simple
ExecStart=/home/kstep/.cargo/bin/blue-notify

[Install]
WantedBy=default.target
