[Unit]
Description=Calise auto-brightness daemon

[Service]
ExecStart=/usr/bin/calised
ExecReload=/usr/bin/calised --restart
Type=simple

[Install]
WantedBy=graphical.target
