[Unit]
Description=Google Chrome Browser

[Service]
TasksMax=1024
ExecStart=/usr/bin/chromium --restore-last-session --auth-server-whitelist="sit.adform.com, trust.adform.com, dev.sit.cloud.adform.com"
Restart=always
RestartSec=0

[Install]
WantedBy=graphical.target
