[Unit]
Description=Google Chrome Browser

[Service]
ExecStart=/usr/bin/chromium --restore-last-session
Restart=always
RestartSec=0

[Install]
WantedBy=graphical.target
