[Unit]
Description=Run %i as a web app in Chromium
Requires=chromium.service
After=chromium.service

[Service]
Type=oneshot
Environment=CHROME_APP_SCHEME=https
ExecStart=/usr/bin/chromium --app=${CHROME_APP_SCHEME}://%i

[Install]
WantedBy=graphical.target
