[Unit]
Description=Run %i as a web app in Chromium
Requires=chromium.service

[Service]
Type=oneshot
ExecStart=/usr/bin/chromium --app=https://%i

[Install]
WantedBy=wm.target
