[Unit]
Description=Eclim Background Service

[Service]
WorkingDirectory=/usr/lib/eclipse
ExecStart=/usr/lib/eclipse/plugins/org.eclim_2.5.0/bin/eclimd

[Install]
WantedBy=graphical.target
