[Unit]
Description=GPG Agent
Before=tmuxenv@default.service

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%h/.gnupg/S.gpg-agent.ssh
ExecStartPre=/usr/bin/systemctl --user import-environment SSH_AUTH_SOCK
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support --no-detach --verbose
Restart=always

[Install]
WantedBy=default.target
