[Unit]
Description=Very Simple Layout Switcher
Before=window-manager.service

[Service]
Restart=always
ExecStart=/usr/bin/kbdd --nodaemon

[Install]
WantedBy=graphical.target
