[Unit]
Description=Very Simple Layout Switcher

[Service]
Restart=on-failure
ExecStart=/usr/bin/kbdd --nodaemon
Restart=always

[Install]
WantedBy=wm.target
