[Unit]
Description=Very Simple Layout Switcher
Before=window-manager.service

[Service]
Restart=always
Type=dbus
BusName=ru.gentoo.KbddService
ExecStart=/usr/bin/kbdd --nodaemon
ExecReload=/usr/bin/kill -s SIGHUP $MAINPID
