[Unit]
Description=Logind locker service

[Service]
ExecStart=/home/kstep/.multirust/toolchains/nightly/cargo/bin/logind-lock $XDG_SESSION_ID systemctl --user start xorg-locker.service

[Install]
WantedBy=wm.target
