[Unit]
Description=Notification in Awesome on MPD state change

[Service]
Type=simple
ExecStart=/bin/sh -c 'mpc idleloop player | while read; do echo "notify_mpd_song()" | awesome-client; done'

[Install]
WantedBy=mpd.service
