[Unit]
Description=SSH Agent

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/ssh-agent.sock
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStartPost=-/bin/sh -c "/usr/bin/ssh-add $HOME/.ssh/keys/* < /dev/null"
Restart=always

[Install]
WantedBy=default.target
