[Unit]
Description=Simple Terminal Emulator with Tmux (session %i)
Requires=tmux@%i.service
After=tmux@%i.service
After=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/st -t 'Terminal' -e /usr/bin/tmux attach -t %I

[Install]
DefaultInstance=default
WantedBy=graphical.target
