[Unit]
Description=Simple Terminal Emulator with Tmux (session %i)
Requires=tmux@%i.service
After=tmux@%i.service
After=xorg.target

[Service]
Type=simple
EnvironmentFile=/home/kstep/.config/systemd/user/st.conf
ExecStart=/usr/bin/st -t ${ST_TITLE} -f ${ST_FONT} -e /usr/bin/tmux attach -t %I

[Install]
DefaultInstance=default
WantedBy=graphical.target
