[Unit]
Description=Simple Terminal Emulator
#Wants=tmux@default.service
#After=tmux@default.service

[Service]
Type=simple
#ExecStart=/usr/bin/st -t 'Terminal' -e '/usr/bin/tmux attach -t default'
ExecStart=/usr/bin/st -t 'Terminal'
Restart=always

[Install]
WantedBy=wm.target
Alias=terminal-emulator.service
