[Unit]
Description=Simple Terminal Emulator

[Service]
Type=simple
ExecStart=/usr/bin/st -t 'Terminal'

[Install]
WantedBy=graphical.target
Alias=terminal-emulator.service
