[Unit]
Description=Terminal Multiplexor (session %i)
Before=ssh-agent.service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d -s %I
ExecStop=/usr/bin/tmux kill-session -t %I
Restart=always

[Install]
DefaultInstance=default
WantedBy=default.target
