[Unit]
Description=Set Tmux environment from systemd (session %i)
Requires=tmux@%i.service
After=tmux@%i.service
After=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/systemctl --user show-environment | sed -e "s/=/ /" | xargs -n2 /usr/bin/tmux set-environment -t %I'

[Install]
DefaultInstance=default
WantedBy=graphical.target
