[Unit]
Description=Window Manager Started
Requires=default.target
Requires=dbus.socket
After=default.target
AllowIsolate=yes

[Install]
WantedBy=default.target
