[Unit]
Description=Xorg server at display %i
Requires=xorg@%i.socket
After=xorg@%i.socket
Wants=window-manager.service
Before=window-manager.service

[Service]
Type=simple
SuccessExitStatus=0 1
Environment=DISPLAY=:%i
ExecStart=/usr/bin/Xorg :%i -nolisten tcp -verbose 2 "vt${XDG_VTNR}"
ExecStopPost=/usr/bin/sudo /bin/sh -c 'echo 0 > /sys/class/backlight/intel_backlight/bl_power'
